@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    overflow: hidden;
    /* Hide scrollbar */
    height: 100%;
    /* Fill the viewport height */
}

html {
    height: 100%;
    /* Fill the viewport height */
}