REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=bingo-27d37.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=bingo-27d37
REACT_APP_FIREBASE_STORAGE_BUCKET=bingo-27d37.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=509582453061
REACT_APP_FIREBASE_APP_ID=1:509582453061:web:7506bd6e5ff45c5e58b62c
REACT_APP_FIREBASE_MEASUREMENT_ID=G-VTLQ243Q66
REACT_APP_API_URL=http://localhost:5000
